#schedule{
    margin-right: 5%;
    margin-left: 5%;
}
#add{
    margin-right: 5%;
    margin-left: 5%;
}
#head{
    margin-right: 5%;
    margin-left: 5%;
    text-align: center;
    margin-top: 15px;
   
}
h1,#m{
    font-family: 'Abril Fatface', cursive;
}

h5,h2{
    font-family: 'Cantata One', serif;
}
#submit{
    font-family: 'Homemade Apple', cursive;
}
th,h5,label{
    font-family: 'Homemade Apple', cursive;
    font-size: 20px;
    font-stretch: semi-expanded;
}
 #see{
padding:15px;   
}
